Host rgsite.github.com
    User git
    HostName github.com
    IdentityFile=/root/.ssh/id_github_website
    StrictHostKeyChecking no

Host rgclient.github.com
    User git
    HostName github.com
    IdentityFile=/root/.ssh/id_github_apisite
    StrictHostKeyChecking no

